---
layout: base.njk
pagination:
    data: auctionLots
    size: 1
    alias: lot
permalink: "lots/{{ lot.item | slug }}/"
---

<div class="item-detail">
  <h1>{{ lot.item }}</h1>
  <img src="{{lot.image}}" alt="" class="item-detail__image" />
  <p class="item__value">Estimated value: £{{ lot.price }}</p>
  <p>{{ lot.description }}</p>
  {% if lot.businessLink != "" %}
    <p>Prize provided by
      <a href="{{lot.businessLink}}">{{lot.business}}</a>
    </p>
    {% elif lot.business != '' %}
      <p>Prize provided by {{lot.business}}</p>
    {% endif %}
</div>

<div class="bid-form">
  <form action="lots/{{ lot.item | slug }}/confirmation/" name="bid" method="POST" data-netlify="true">
    <legend><h3>Submit your bid!</h3></legend>
    <div class="form-row bid-amount">
      <label for="bid_amount" class="label-inline"><strong>Your bid amount:<strong></label>
      <span class="bid-amount__currency">£</span> <input type="number" name="bid_amount" id="bid_amount" step="any" class="input-narrow" placeholder="eg. 10.99" />
      <p class="form-help">Enter your bid amount, in pounds and pence.</p>
    </div>
    <div class="form-row">
      <label for="name">Your name</label>
      <input type="text" name="name" id="name" placeholder="e.g. Jane Smith" />
    </div>
    <div class="form-row">
      <label for="email">Your email</label>
      <input type="text" name="email" id="email" placeholder="e.g. js@example.com" />
    </div>
    <div class="form-row">
      <label for="telephone">Your telephone number</label>
      <input type="text" name="telephone" id="telephone" placeholder="e.g. 01234123456" />
    </div>
    <div class="form-row">
      <button type="submit" class="btn">Place your bid!</button>
    </div>
  </form>
</div>

<div class="pagination">
  <ul>
    <li>{% if pagination.href.previous %}<a class="btn btn--subtle" href="{{ pagination.href.previous }}">Previous item: {{pagination.page.previous.item}}</a>{% else %}This is the first item{% endif %}</li>
    <li>{% if pagination.href.next %}<a class="btn btn--subtle" href="{{ pagination.href.next }}">Next item: {{pagination.page.next.item}}</a>{% else %}This is the last item{% endif %}</li>
  </ul>
</div>
