---
layout: base.njk
pagination:
    data: auctionLots
    size: 1
    alias: lot
permalink: "lots/{{ lot.item | slug }}/"
---

<h1>{{ lot.item }}</h1>
<img src="{{lot.image}}" alt="" />
<p>Estimated value: {{ lot.price }}</p>
<p>{{ lot.description }}</p>

<ol>
  <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
  <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
</ol>
