---
layout: base.njk
title: Bid successful
---

<h2>Bid confirmed</h2>

<p><strong>Good luck!</strong> &emdash; your bid was successful. We have sent an email with your bid information to you, and we will be in touch if you are the winning bid.</p>
