---
layout: base.njk
title: Team DG - Dunton Green PTA Fundraising
---

<h2 class="sam-farty-pants-big-green-heading">All I want for Christmas...</h2>

<h3>Roll up for the Team DG silent auction!</h3>

<p>After a difficult year, we thought you deserved something special this Christmas. So, we’ve turned our most popular stall at the school bazaar into our biggest ever <strong>silent auction</strong>.</p>
<p>We’ve bundled together some wonderful treats for you and your family, so all you have to do is take a look at what’s on offer and bid on your favourites.</p>
<p><strong>But hurry, bids close on 12th December. </strong></p>
<p>As always, all money raised goes towards our lovely school. Keep an eye on your inbox to find out if you’ve won.</p>
<p>Happy bidding and good luck!</p>


<ul class="item_list">
  {%- for lot in auctionLots -%}
    <li class="item_list__item item">
      <div class="item__image-container">
        <p class="item__value">Worth £{{ lot.total_value }}</p>
        <img class="item__image" src="{{lot.image}}" alt="" />
      </div>
      <h3 class="item__title" ><span class="item__number">{{ loop.index }}.</span> {{ lot.lot }}</h3>

      {% for item in lot.items %}
        {% if loop.length == 1 and loop.last == true %}
          <p class="item_list__count">{{ loop.length }} item:</p>
        {% elif loop.last == true %}
          <p class="item_list__count">{{ loop.length }} items:</p>
        {% endif %}
      {% endfor %}
      <ul>
        {% for item in lot.items %}
            <li>{{ item.short_name }}</li>
        {%- endfor -%}
      </ul>

      <a href="lots/{{ lot.lot | slug }}" class="btn">See more and bid</a>
    </li>
  {%- endfor -%}
</ul>
