---
layout: base.njk
title: Team DG - Dunton Green PTA Fundraising
---

<h2>Silent Auction</h2>

<p>Despite COVID-19 Team DG are still trying to fundraise and help make Dunton Green Primary School an even better place to learn.</p>

{% if status.live == 'true' %}

<p>Browse the items below and fill in the form on the item pages to make a bid. Highest bid wins - a great chance to grab some bargains (<a href="/rules/">read full rules here</a>).</p>

<ul class="item_list">
  {%- for lot in auctionLots -%}
    <li class="item_list__item item">
      <div class="item__image-container">
        <p class="item__value">Worth £{{ lot.price }}</p>
        <img class="item__image" src="{{lot.image}}" alt="" />
      </div>
      <h3 class="item__title" ><span class="item__number">{{ loop.index }}.</span> {{ lot.item }}</h3>
      <a href="lots/{{ lot.item | slug }}" class="btn">See more and bid</a>
    </li>
  {%- endfor -%}
</ul>

{% else %}

  <div class="standout">
    <p><strong>The auction will launch on 30th November and run until the 12th December.</strong></p>
    <p>Come back then to bid on items including:</p>
  </div>
  <ul>
    <li>an M&amp;S hamper</li>
    <li>Gymboree memberships</li>
    <li>wine and dessert vouchers</li>
    <li>sleep consultant packages</li>
    <li>personal training</li>
    <li>golf prizes</li>
    <li>pampering sessions</li>
    <li>and much much more.</li>
  </ul>
</div>

{% endif %}
