---
layout: base.njk
title: Team DG Privacy Policy
---

<h2>Privacy policy</h2>

<h2>Your data</h2>
<p>Your data is only collected for the purpose of allowing bids on items and contacting those who are successful with their bids.</p>
<p>Data is stored securely on Netlify servers. All data is transmitted over a secured connection.</p>
<p>All personal data will be deleted on the conclusion of the silent auction.</p>
<p>You can request to see the data we hold at anytime. Please allow 48 hours to get a repsonse. Requests can be made by emailing matt@teamdg.club</p>
<p>We will only contact you to notify of successful bids, we will not email you or use your data for any other purpose.</p>

<h2>Cookies</h2>
<p>We do not store any cookies on this site, there is no tracking of users</p>
