---
layout: base.njk
title: Team DG - Dunton Green PTA Fundraising
---

<h2>Silent Auction Guide &amp; Rules</h2>

<ol>
  <li>To make a bid for the Online Silent Auction item, simply enter your bid amount, name, email address and telephone number in the form shown on the auction item page you want to bid on.</li>
  <li>The auction will run from midnight 30th November to 12th December and 23:59 GMT. Once the auction is declared closed, the highest bid submitted for that item will be declared the winner. If two bids of the same value are submitted, the bid made earliest will win. In the event of a dispute, Team DG will act as the final authority.</li>
  <li>The winning bidder will be contacted, by email with payment instructions and to arrange pick up or delivery of an item.</li>
  <li>Payment for items purchased must be made in full by midday on the 16th December. </li>
  <li>An online payment link will be sent for payment and if payment is not made by the stated time above, the item will be offered to the next highest bidder.</li>
  <li>By bidding in the Online Silent Auction, each bidder agrees to these auction rules. Team DG reserves the right to add or withdraw items, without notice, to or from the Online Silent Auction. Auction item purchases are final. No returns or exchanges will be issued. All items are “as is”.</li>
  <li>Team DG provides no guarantees, or warranties of auction items.</li>
</ol>

<p>Happy Bidding!!!</p>
