---
layout: base.njk
pagination:
    data: auctionLots
    size: 1
    alias: lot
permalink: "/lots/{{ lot.lot | slug }}/confirmation/"
---

<div class="item-confirmation">
  <h1>You have bid successfully on {{ lot.lot }}</h1>
  <img src="{{lot.image}}" alt="" class="item-detail__image" />

</div>
